
.Contact {
    background-color: rgba(15, 6, 43, 0.89);
    background-image: url("../images/asfalt-light.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-rows: .1fr 1fr;
    position: relative;
    justify-items: center;
    margin: 0 auto;
    text-align: center;
    margin-top: 3em;
    margin-bottom: 6em;
    z-index: -1;
    box-shadow: rgba(54, 55, 203, 0.9) 4px 3px 4px;
    color: rgba(248, 247, 236, 0.93);
    border-top: 2px dotted #487585;
}

#contact-header {
    font-size: 2.2em;
    margin-top: 1.5em;
    text-shadow: #a24d79 1px 1px 4px;
}

#contact-list {
    margin-top: 1em;
    color: rgba(255, 255, 255, 0.80);
    font-size: 1.1em;
    list-style-type: none;
}

#form-body {
    margin: 2em 0 2em 0;
    height: 10em;
    width: 40em;
}

#email-field {
    width: 75%;
    height: 2em;
}

.button {
    background-color: white;
    color: #18006e;
    border: 2px solid #af5c8b;
    padding: .5em 1em;
    margin-bottom: 1em;
}

#copyright {
    color: rgba(85, 83, 78, 0.81);
    text-align: center;
    margin: 3em 0 8em 0;
    font-size: .7em;
}

input[type=email], textarea {
    padding: 8px;
    border:1px solid #e8c8fd;
    border-radius: .25em;
    background-color: rgba(255, 255, 255, 0.15);
    color: #e8c8fd;
}

input[type=email]::placeholder, textarea::placeholder {
    color: #c6c0ca;
}

