.projects {
    /*position: relative;*/
    display: grid;
    margin: 0 auto;
    /*grid-template-columns: repeat(2, 1fr);*/
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    text-align: center;
    color: #774e85;
    text-shadow: #c5b1cb 3px 3px 6px;
    background-color: rgba(158, 255, 211, 0.63);
    border-top: 2em solid rgba(119, 78, 133, 0.54);
}

#project {
    color: #ffffff;
    text-shadow: #c5b1cb 3px 3px 6px;
    font-size: 4.5em;
    margin: 0;
}

.card-set {
    margin: 0 0 2vh 0;
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
}
